<footer class="footer bg-light py-3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-auto mb-2 mb-md-0">
        <p class="mb-0">&copy; 2025 IMDB Clone</p>
      </div>
      <div class="col-12 col-md-auto text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item"><a href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
